<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>top expert consulting</title>
{% load static %}
<link rel="shortcut icon" href="{% static 'images/abstractlogo.png' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'style.css' %}">

<link  href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Coda:400,800" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">

<!-- <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> -->
</head>
<body>
<div id="menu-wrapper">
	<div id="logoheader"><a href="description"><img src={% static 'images/topexpertconsulting.png'%}  height="39" id="logo3" /></a></div>
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="tryhtml1">Page d'accueil</a></li>
			<li><a href="donnees">Notre mission</a></li>
			<li><a href="van">Nos services</a></li>
			<li><a href="tir">A propos de la société </a></li>
			<li><a href="ip">Nos sponsors</a></li>
			<li><a href="comparaison">Contact</a></li>
		</ul>

	</div>
	<!-- end #menu -->
</div>
<div id="header-wrapper">
	<div id="header">
		<div id="logo">
			<img src={% static 'images/topexpertconsulting.png'%}  width="400" id="logo3"/>
		</div>
	</div>
</div>
<div id="wrapper">
	<!-- end #header -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<div class="post">
						<h2 class="title"><a href="#"><strong>&nbsp;&nbsp;Bienvenue</strong> </a></h2>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<p> <strong>Top expert consulting  </strong>est un bureau d’études stratégiques, conseils et formation en SI, enquêtes qualitatives et quantitatives, archives, gestion de projet gestion, audit et prestations de services. Il réunit les compétences nécessaires et suffisantes pour la mise en œuvre de vos objectifs en s’appuyant sur une équipe pluridisciplinaire composée de professeurs universitaires, docteurs, ingénieurs et consultants séniors spécialisés ayant des dizaines d’années d’expérience dans les domaines de leurs compétences.</p>
							<p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p>
						</div>
					</div>
					<div class="post">
						<h2 class="title" id="projet_investissement_"><a href="#"><strong>&nbsp;&nbsp;Pourquoi une société de conseil?</strong> </a></h2>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<p> Une société de conseil ou cabinet de consulting ou encore un cabinet de conseil est une entreprise qui délivre des avis ou des recommandations sur ce qu'il convient de faire dans une organisation pour en améliorer un aspect. Les services de ces sociétés visent à améliorer le fonctionnement et la performance, actuels ou futurs, d'une organisation publique ou privée : entreprise, association, ministère, collectivité territoriale, syndicat, etc.<br/>
Les sociétés de conseil, appelés cabinets ou firmes, assistent les administrateurs des entreprises en leur fournissant des experts-conseil, également appelés consultants ou conseillers, généralement formés au management dans les écoles de commerce. Le livrable est habituellement une marche à suivre pour atteindre un objectif de l'entreprise.<br/>
De plus en plus de sociétés complètent le livrable stratégique, en fournissant les moyens de mettre en œuvre les recommandations, soit avec les consultants eux-mêmes, soit en fournissant des experts-métiers, ce qui a ouvert de nouveaux marchés à ces sociétés. C'est ce que l'on nomme l'externalisation.<br/>
Les services de conseil appartiennent au secteur tertiaire et représentent plusieurs centaines de milliard de dollars de chiffre d'affaires annuel. Entre 2010 et 2015, les 10 plus grandes sociétés de conseil affichaient à elles seules un chiffre d'affaires de 170 milliards annuellement et une croissance moyenne de 4 % par an.

</p>
							<p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p>
						</div>
					</div>
					<div class="post">
						<h2 class="title" id="capital_investi_"><a href="#"><strong>Le conseil en stratégie</strong> </a></h2>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<p> Le conseil en stratégie vise à fournir aux dirigeants d'entreprises des conseils spécialisés pour la définition d'une stratégie d'entreprise. En pratique, les cabinets de conseil en stratégie2 ont une activité qui déborde largement de ce périmètre, et donnent lieu à des recommandations sur les volets managériaux, organisationnels, performance, etc.</p>
							<p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p>
						</div>
					</div>
					<div class="post">
						<h2 class="title" id="flux_nets_de_tresorerie_"><a href="#"><strong>Le conseil en management</strong> </a></h2>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<p> Le conseil en management a pour vocation d'assister les entreprises sur des sujets de gestion et d'optimisation de leurs métiers ou des fonctions dites de support comme :<br/>

-Les RH (formation, paie, recrutement...)<br/>
-Les Systèmes d'Information<br/>
-La Finance (fusion-acquisitions, contrôle de gestion, comptabilité, trésorerie...)<br/>
-Les Achats<br/>
-La R&D<br/>
-La Qualité<br/>
-L'audit / risque / contrôle interne<br/>
Le conseil en management s'attache à comprendre les enjeux des métiers ou fonctions support et à déterminer les meilleurs modes de gestion ou le modèle de performance adéquat pour y répondre. Il doit être mené comme une étude commandée par l'entreprise, c'est-à-dire en parallèle de l'activité de l'entreprise et non en immersion des équipes de l'entreprise, sur projet.
</p>
							<p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p>
						</div>
					</div>
					<div class="post">
						<h2 class="title" id="duree_de_vie_"><a href="#"><strong>Le conseil en informatique</strong> </a></h2>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<p> Dans le domaine de l'informatique et des technologies de l'information et de la communication, le conseil est l'une des trois principales branches des sociétés de services informatiques, avec l'intégration et l'infogérance.<br/>

Le conseil en systèmes d'information est large et peut regrouper plusieurs catégories de conseil :<br/>

Le conseil en stratégie de la DSI, qui s'attache à construire une vision, à définir les grandes orientations et la feuille de route d'une DSI à partir des enjeux ou besoins de la Direction Générale et des Métiers sur une période de 3 à 5 ans.<br/>
Le conseil en management de la DSI, qui s'attache à tous les volets de gestion de la DSI (budget, achats, sourcing, processus de fonctionnement, processus de décision...)<br/>
Le conseil en organisation d'une DSI, qui s'attache à toutes les relations de la DSI avec ses clients, partenaires ou fournisseurs (gouvernance) ou bien aux aspects de performance (financière, RH...)<br/>
Le conseil IT, qui regroupe :<br/>
L'assistance à maîtrise d'ouvrage (AMOA) : rédaction d'expressions de besoins, de cahiers des charges, la validation de spécifications fonctionnelles, l'assistance au choix d'outils, la recette utilisateurs, la conduite du changement (formation, animation de séminaires ou d'événements, coaching des équipes, communication...)<br/>
L'assistance au pilotage de projets / programmes (PMO) ou la gouvernance des projets<br/>
L'urbanisation fonctionnelle des systèmes d'information.
</p>
							<p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p>
						</div>
					</div>
					<div class="post">
						<h2 class="title" id="valeur_residuelle_"><a href="#"><strong>Etude qualitative et quantitative</strong> </a></h2>
						<div style="clear: both;">&nbsp;</div>
						<div class="entry">
							<p> Lorsque l’on souhaite créer ou reprendre une entreprise, la réalisation d’une étude de marché permet de tester la viabilité du projet avant son lancement. Il existe deux grands types d’étude de marché : les études de marché quantitatives et les études de marché qualitatives.<br/>
							Les études de marché quantitatives sont des études réalisées par sondage ou par panel, au moyen d’un questionnaire, auprès d’un échantillon de population ciblé afin d’analyser leurs opinions et leurs comportements.L’objectif est ici de privilégier la taille de l’échantillon de personnes interrogées au détriment de la profondeur des questions posées, les investigations ne sont pas poussées. L’étude de marché quantitative se réalise en employant un questionnaire d’enquête.<br/>
Les études de marché qualitatives ont pour objectif est de comprendre le comportement, les motivations et les caractéristiques de vos clients potentiels par rapport à l’achat d’un produit ou service.Avec ce type d’étude, on cherche à obtenir des réponses très précises sur le comportement des clients potentiels grâce à l’emploi de questions de type « Pourquoi ? ». L’étude de marché qualitative porte sur un petit échantillon avec des investigations en profondeur. Elle peut se réaliser par des entretiens individuels ou par des discussions de groupe.<br/>
</p>
							<p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p>
						</div>
					
					</div>
					<div style="clear: both;">&nbsp;</div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
					<ul>
						
						<li>
							<h2>Concepts  et notions</h2>
							<p>Description plus profonde sur les sociétés de conseils.</p>
						</li>
						<li>
							<h2>Categories</h2>
							<ul>
								<li><a href="#projet_investissement">Pourquoi une société de conseil?</a></li>
								<li><a href="#capital_investi_">Le conseil en stratégie</a></li>
								<li><a href="#flux_nets_de_tresorerie_">Le conseil en management</a></li>
								<li><a href="#duree_de_vie_">Le conseil en informatique</a></li>
								<li><a href="#valeur_residuelle_">Etude qualitative et quantitative</a></li>
							</ul>
						</li>
						
					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer">
	<p>&copy; Projet de statge realisé par : Hamza BALLITO sous l'encadrement de Mr.BOUBKER. | </p>
</div>
<!-- end #footer -->
</body>
</html>