<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />

<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Rentabilité d'un projet</title>
{% load static %}
<link rel="shortcut icon" href="{% static 'images/abstractlogo.png' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link  href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css2?family=Archivo:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Coda:400,800" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet">

<!-- <link href="style.css" rel="stylesheet" type="text/css" media="screen" /> -->
</head>
<body>
<div id="menu-wrapper">
    <div id="logoheader"><a href="description"><img src={% static 'images/topexpertconsulting.png'%}  height="39" id="logo3" /></a></div>
    <div id="menu">
        <ul>
            <li ><a href="tryhtml1">Page d'accueil</a></li>
            <li><a href="donnees">Notre mission</a></li>
            <li class="current_page_item"><a href="van">Nos services</a></li>
            <li><a href="tir">A propos de la société </a></li>
            <li><a href="ip">Nos sponsors</a></li>
            <li><a href="comparaison">Contact</a></li>
        </ul>

    </div>
    <!-- end #menu -->
</div>
<div id="wrapper">
    <!-- end #header -->
    <div id="page">
        <div id="page-bgtop">
            <div id="page-bgbtm">
                <div id="content">
                    <div class="post">
                        <h2 class="title"><a href="#"><strong>&nbsp;&nbsp;Services</strong> </a></h2>
                        <div style="clear: both;">&nbsp;</div>
                        <div class="entry">
                            <p> <strong>Top expert consulting  </strong>a un Service de qualité qui s’articulent autour des axes suivants :<br/>
- La formation et les certifications pour la mise à niveau des équipes.<br/>
- Les études, les stratégies, le conseil et l’appui aux organisations publiques et privées.<br/>
- L’assistance et la consultation en audit, gestion, finance, organisation, management, SI, archives,......<br/>
- Le développement des portails et des sites web.<br/>
- La commercialisation de tout type matériel, logiciel ou service informatique.</p>
                            <p class="links"><a href="#">Read More</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Comments</a></p>
                        </div>
                    </div>
                </div>
				<!-- end #content -->
				<div id="sidebar">
					<ul>
						<li>
							<h2>Description de la page</h2>
							<p>Une idée détailé de la mission de notre société .</p>
						</li>
					</ul>
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
            

            
       </div>


   </body>

   </html>